# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tamarin-mux
static/

# Test binary, built with `go test -c`
*.test
coverage.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignoring files from IDEs, etc
.idea
.vscode
.DS_Store